@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-800 antialiased;
  }
}

.glass-panel {
  @apply bg-white bg-opacity-90 backdrop-blur-sm border border-slate-200 shadow-soft;
}
